.checkout {
    float: right;
    width: 300px;
    height: 670px;
    border: 5px solid #db1616;
    background-color: rgb(202, 186, 218);
    margin-right: 20px;
    margin-top: -70px;
    border-radius: 20px;
}