.Content {
    width: 1024px;
    height: 768px;
    border: 20px black;
    background-color: aqua;
    background-image: url('../../images/layout.jpg');
    margin: auto;

}
/* 
@media (min-width: 500px ) and (min-height: 400px) {
    .Content {
        width: 50%;
        height: 50%;
    }
}

@media (min-width: 500px ) and (min-height: 401px) {
    .Content {
        width: 50%;
        height: 50%;
    }
} */
/* 
@media (min-width: 1000px ) and (min-height: 700px) {
    .Content {
        width: 80%;
        height: 80%;
    }
} */